
@{
    ViewBag.Title = "Đặt hàng thành công";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ Hàng</a></li>
                </ul>
            </div>

            <div class="row" id="load_data">
                <h2>Bạn đã mua hàng thành công</h2>
            </div>
            
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}


